  <form method ="post" action="/api/questions">
  	<button class = "startChallenge">Start your challenge!</button>
  </form>


<div class="g-signin2" data-onsuccess="onSignIn"></div>
<a href="#" onclick="signOut();">Sign out</a>
