<button class = "startChallenge"><a href = "./api/generatequestions">Start your challenge!</a></button>
<ul>
	{{#each questions}}
	<li>
		Challenge {{this.id}}
		{{this.challenge}}
	</li>
	{{/each}}
</ul>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<a href="#" onclick="signOut();">Sign out</a>
