

<div class="container">
 <div class="row">
	 <div class="button-panel col-md-12">
	 {{!-- <a href="#" class="btn btn-default btn-lg" role="button" data-onsuccess="onSignIn"><img src = "/images/google_plus.png" class = "googleimage" alt = "">Sign In</a> --}}
				<form action="/user/check" method="POST">
				<button id="login_button" type="submit" name="button" class="btn btn-default btn-lg"><img src = "/images/google_plus.png" class = "googleimage" alt = "">Login!</button>
		 </form>
			<a href="#" class="btn btn-default btn-lg" role="button" onclick="signOut(); ">Sign out</a>
	 </div>
 </div>
</div>





<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center" >
			<img src="/images/banner.jpg" alt="Anxiety Challenge" class = "banner" />
		</div>
	</div>
</div><!--end of row 1st -->

<div class="masthead">
	<div class="text-center">
		<div class = "masthead-title">
			<strong>Get over it!!!</strong>
		</div>
		<button class="btn-challenge" role="button"><a href="/api/generatequestions">Start your challenge!</a></button>
	</div>
</div>
