<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
			<img src="/images/social.jpg" alt="Anxiety Challenge" />
		</div>
  </div> <!--end of row 1st -->

	<!-- <div class="row">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <a href="#" onclick="signOut();">Sign out</a>
  </div> end of 2row -->

  <div class="row">

			<h1> Get over it!!! </h1>
    	<a href="challenges.html">
			<button type="submit" class="btn btn-primary startChallenge">Start your challenge!</button></a>
  </div>

 <!-- <form  method ="get" action="/api/questions">
</form>end of 3row -->

</div> <!--end of container  -->
