<<<<<<< HEAD
<nav class = "navbar navbar-inverse" role = "navigation">
	<div class = "navbar-header">
		<a class = "navbar-brand" href = "#"></a>
	</div>

	<div>
		<ul class = "nav navbar-nav navbar-right">
			<li class = "active">
				<form action="/user/check" method="POST">
				<button id="login_button" type="submit" name="button">Login!</button>
				</form>
				<li><a href = "#" onclick="signOut();">Sign out</a></li>
			</ul>
		</div>
	</nav>
=======
>>>>>>> upstream/master

<data-spy="scroll">
	<div class="promo">
		<p class="text-center">This project was made by Jesse, Gladys, Stan, and Nina as part of the UC Berkeley Coding Bootcamp! <a href="https://bootcamp.berkeley.edu/coding/landing-ftpt/?s=G-Brand&mkwid=V2MMdo4f_dc&pkw=uc%20berkeley%20coding%20bootcamp&pcrid=184506896144&pmt=e&utm_source=google&utm_medium=cpc&utm_campaign=&utm_term=uc%20berkeley%20coding%20bootcamp&utm_content=184506896144&s=google&k=uc%20berkeley%20coding%20bootcamp&gclid=CjwKEAjw7J3KBRCxv93Q3KSukXQSJADzFzVSr068sb9aJ-zCaZVO-4YBpd4ZHDppZmyNRqhhrWu5aRoCxZTw_wcB">View More</a></p>
	</div>


<div class="masthead">
	<div class="container">
		<div class ="masthead-title animated swing">The Anxiety Project
			<small>Beat social anxiety, one challenge at a time!</small>
		</div>
	</div>
</div>

<hr>


	<div class="container">
		<div class="row">
			<div class="button-panel col-md-12">
				<a href="#" class="btn btn-default btn-lg" role="button" data-onsuccess="onSignIn"><img src = "/images/google_plus.png" class = "googleimage" alt = "">Sign In</a>
				<a href="#" class="btn btn-default btn-lg" role="button" onclick="signOut(); ">Sign out</a>
				</ul>
			</div>
		</div>
	</div>


<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center" >
			<img src="/images/banner.jpg" alt="Anxiety Challenge" class = "banner" />
		</div>
	</div>
	<!--end of row 1st -->



<div class="masthead">
	<div class="text-center">
		<div class = "masthead-title">
			<strong>Get over it!!!</strong>
		</div>
		<button class="btn-challenge" role="button"><a href="/api/generatequestions">Start your challenge!</a></button>



	<!-- <div class="row">

		<div class="g-signin2" data-onsuccess="onSignIn"></div>
		<a href="#" onclick="signOut();">Sign out</a>
		</div> end of 2row -->
	{{!-- <div class="row">
		<h1> Get over it!!! </h1>
		<a href="challenges.html">
		<button class = "startChallenge"><a href = "./api/generatequestions">Start your challenge!</a></button>

	</div> --}}
</div>

	<!-- <form  method ="get" action="/api/questions">
		</form>end of 3row -->
</div>

</body>
<!--end of container  -->

    {{!-- <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <a href="#" onclick="signOut();">Sign out</a>
  </div> end of 2row --> --}}

  {{!-- <div class="row">
			<h1> Get over it!!! </h1>
    	<a href="challenges.html">
      <button class = "startChallenge"><a href = "./api/generatequestions">Start your challenge!</a></button>

  </div> --}}

 <!-- <form  method ="get" action="/api/questions">
</form>end of 3row -->

</div> <!--end of container  -->
