body {
  width: 100%;
  height: 900px;
  font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  background-color: #ffffff;
}

a {
  color: #02baf2;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
a:hover,
a:focus {
  color: #009dcd;
  text-decoration: none;
}
a:focus {
  outline: none;
}

.masthead {
  background: white;
  padding: 25px 0;
  position: relative;
  z-index: 2;
}

.masthead .masthead-title {
  font-family: "SourceSansProExtraLight", Helvetica, Arial, sans-serif;
  font-size: 80px;
  line-height: 1.2;
  color: #9C289B;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}
.masthead .masthead-title small {
  color: #8B808B;
  font-family: "SourceSansProBold", Helvetica, Arial, sans-serif;
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  padding-left: 4px;
  font-family: 'raleway', sans-serif;
}

.signin-panel {
  background: white;
  padding: 60px 0;
  position: relative;
  z-index: 2;
}

.button-panel {
  background: white;
  padding: 30px 0;
  z-index: 2;
  text-align: center;
}
/* challanges */
.list-group-item .active {
  padding: 0px;

}
.promo {
  background: #f84545;
  color: white;
  z-index: 3;
  padding: 2px;
  position: relative;
  margin: 0;
  border: 0;
}
.promo > p {
  margin: 0;
  color: white;
}
.promo > p > a {
  color: white;
  text-decoration: underline;
}
.promo > p > a:hover {
  text-decoration: none;
}

.btn {
	background-color: #DC4A38;
	border-color: #DC4A38;
	width: 124px;
	height: 46px;
    font-size: 16px;
    /*margin: 5px;*/
    text-align: center;
    font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
    color: white;

  }

.btn:hover {
    color: black;
}

.googleimage {
	padding: 0;
	margin: 0;
	height: 30px;
	width: 30px;
}

.banner {
	width: 1165px;
	height: 50%;
}

.btn-warning {
  margin-top: 20px;
}

.anxietyImg{
	margin-top:15px;
}
